
<div class="modal fade" id="win-modal">
<div class="modal-dialog">
<div class="modal-content">
	<div class="clearfix editable">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">&times;</button>
			<h2 id="description">YOU WON</h2>
		</div>

	</div>

</div>
</div>
</div>





<div class="container">
	<div class="row">
		<h3> Towers of Hanoi</h3>
		<a href="http://en.wikipedia.org/wiki/Tower_of_Hanoi">Game instructions</a>
	</div>
	<div class="row" id="gameBoard">
		
	</div>

	<%= button_to("Refresh", root_url, method: :get) %>
</div>